<?xml version="1.0" encoding="UTF-8"?>
<component name="Menu" extends="Group">
    <children>
        <Rectangle id="left" color="#FFFFFF" />
        <Rectangle id="right" color="#001f3f" />
        <Label
            id="title"
            text="LightSaver"
            horizAlign="center"
            color="#001f3f"
        />
        <LabelList
            id="menuSelection"
            color="#000000"
            vertFocusAnimationStyle="floatingFocus"
        >
            <ContentNode id="menuContent" role="content">
                <ContentNode title="Start Wallpaper" />
                <ContentNode title="Settings" />
            </ContentNode>
        </LabelList>
    </children>
    <script type="text/brightscript" uri="Menu.brs" />
</component>