<?xml version="1.0" encoding="utf-8"?>
<component name="Settings" extends="Group">
    <children>
        <Rectangle id="left" color="#FFFFFF" />
        <Label
            id="title"
            text="LightSaver"
            horizAlign="center"
            color="#001C30"
        />
        <LabelList
            id="settingsSelection"
            color="#000000"
            vertFocusAnimationStyle="floatingFocus">
            <ContentNode id="settingsContent" role="content">
                <ContentNode title="Change Picture Display Time" />
                <ContentNode id="blurred" title="" />
                <ContentNode title="Revoke LightSaver Image Access" />
            </ContentNode>
        </LabelList>
    </children>
    <script type="text/brightscript" uri="Settings.brs" />
</component>